<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <h1>
    <%= htmlWebpackPlugin.options.description %>
  </h1>
  <p>Vide
    <a href="https://poi.js.org">https://poi.js.org</a>
  </p>
  <div id="embed-vue"></div>
  <div id="embed-react"></div>
  <div id="embed-elm"></div>
</body>

</html>